:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

/* ### Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    min-height: 100vh;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: 
        url(images/bg-pattern-top-mobile.svg) no-repeat,
        url(images/bg-pattern-bottom-mobile.svg) no-repeat;
}

.container {
    width: 375px;
    padding: 1rem;
    background-color: #fff;
}

.title-div {
    text-align: center;
}
.title-div h1 {
    color: var(--Very-Dark-Magenta);
    padding: 0 1rem;
    line-height: 1;
}
.title-div p {
    margin: 2rem 0;
    font-size: 15px;
    color: var(--Dark-Grayish-Magenta);
    font-weight: 400;
}

.rating {
    margin: 1rem 0;
    background-color: var(--Light-Grayish-Magenta);
    padding: .7rem;
    text-align: center;
    border-radius: 10px;
}
.review {
    margin-top: 3px;
    color: var(--Very-Dark-Magenta);
}

.social-flex  {
    margin: 2rem 0;
}

.profile-card {
    margin: 1rem 0;
    background-color: var(--Very-Dark-Magenta);
    padding: 1.2rem;
    border-radius: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    font-size: 15px;
    font-weight: 400;
}
.profile-header img {
    border-radius: 300px;
    width: 40px;
    margin-right: 20px;
}
.name, 
.text {
    color: #fff;
}
.verified {
    color: var(--Soft-Pink);
}

@media screen and (min-width: 1200px) {
    body {
        background: 
            url(images/bg-pattern-top-desktop.svg) no-repeat,
            url(images/bg-pattern-bottom-desktop.svg) no-repeat;
    }
    .container {
        width: 1150px;
    }
    .top-flex-container,
    .social-flex {
        display: flex;
        justify-content: space-between;
    }
    .title-div,
    .rate-div {
        width: 50%;
    }
    .title-div {
        text-align: left;
    }
    .title-div h1 {
        padding: 0;
        width: 320px;
    }
    .title-div p {
        width: 412px;
    }
    .rating {
        display: flex;
        align-items: center;
        width: 428px;
        padding: .7rem 2rem .7rem 2rem;
    }
    .stars {
        margin-right: 1rem;
    }

    .profile-card {
        max-width: 350px;
        height: 220px;
    }


    .rating:nth-child(2) {
        margin-left: 3rem;
    }
    .rating:nth-child(3) {
        margin-left: 6rem;
    }
    .profile-card:nth-child(2) {
        margin-top: 2rem;
        margin-left: .5rem;
    }
    .profile-card:nth-child(3) {
        margin-top: 3rem;
        margin-right: .5rem;
    }
}